html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}



:root{
  /* Backgrounds */
  --body-bg: #f5e8c7;
  --card-bg: #edd290;

  /* Borders */
  --card-boder: #a37b18;

  /* Text */
  --text: #1E1605;
  --text-muted: #513D0C;

  /* Brand */
  --primary: #1b0a5c;
  --primary-2: #4820DA;
  --primary-hover: #3515B8;

  --secondary: #2082DA;
  --secondary-hover: #1768AF;

  --gold: #DAA520;

  /* Statets */
  --success: #4c8c2b;
  --danger: #b53a3a;
}

/*#region Layout*/

body{
  background: var(--body-bg);
  color: var(--text);
}

.card-actions{
  margin-top: auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: .5rem;
}

/*#endregion Layout*/

/* #region Cards */

.card{
  border: 1px solid var(--card-boder);
  border-radius: 12px;
  transition: background-color .2s ease,
              color .2s ease,
              border-color .2s ease,
              box-shadow .2s ease,
              transform .2s ease;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.18),
              0 12px 28px rgba(218, 165, 32, .24);

  background-color: var(--card-bg);
  overflow: hidden;
}

.card:hover{
  /*transform: translateY(-4px);
  box-shadow: 0.75rem 1.5rem rgba(0,0,0,.15)!important;*/
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.24),
              0 20px 40px rgba(218, 165, 32, .32);
  transform: translateY(-3px);
  transition: .25s;
  cursor: pointer;
}

.card-img-top{
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #f4dfad;
  
  font-size: 5rem;
  color: #8b5e34;

  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card-title{
  font-weight: 700;
  color: var(--primary);
}
.card-subtitle{
  color: var(--text-muted)!important;
}

.api-awakening{
  max-width: 700px;
  margin: 60px auto;
  padding: 2rem;
  border-radius: 18px;
  background: var(--card-bg); 
  border: 2px solid var(--gold);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .20),
              0 20px 48px rgba(218, 165, 32, .28);
}

.api-awakening h3{
  color: var(--primary);
  --bs-text-opacity: 1;
}

.api-awakening p{
  margin-bottom: 1rem;
}

.alert{
  background: linear-gradient(90deg, #f4e4be 0%, #f1dca7 100%);
  color: var(--primary);
  border: 1px solid #8B6A15;
}
/* #endregion Cards */

/* #region Badges */
.genre-badge{
  /*background: rgba(72,32,218,.12);*/
  background: linear-gradient(180deg, #f3d98d 0%, #e3bf59 100%);

  color: var(--primary);
  text-decoration: none;

  border: 1px solid rgba(165, 120, 20, .35);
  border-radius: 999px;

  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .35),
              0 2px 4px rgba(0, 0, 0, .08),
              0 4px 10px rgba(218, 165, 32, .18);
}

.genre-badge:hover {
  transition: background-color .2s ease,
              color .2s ease,
              border-color .2s ease,
              box-shadow .2s ease,
              transform .2s ease;

  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .45),
              0 4px 8px rgba(0, 0, 0, .12),
              0 8px 16px rgba(218, 165, 32, .28);

  transform: translateY(-1px);
}

/* #endregion Badges */

/* #region Buttons */
.btn-add,
.btn-details{
  color: var(--primary);
  padding: .55rem 1rem;
  font-weight: 700;
  border: 1px solid var(--primary);

  box-shadow: 0 2px 6px rgba(0, 0, 0, .22),
              0 8px 18px rgba(218, 165, 32, .24);
}

.btn-add:hover,
.btn-details:hover{
  border-color: transparent;
  background: var(--primary);

  box-shadow: 0 4px 10px rgba(0, 0, 0, .28),
              0 14px 28px rgba(218, 165, 32, .34);
}

.btn-add{
  background: var(--gold); 
}

.btn-details{
  background: var(--card-bg);
}

.btn-add:hover{
  color: var(--gold);
}

.btn-details:hover{
  color: var(--card-bg);
}

/* #endregion Buttons */

/* #region Typography */
.book-price{
  color: var(--primary);
  font-weight: 900;
  font-size: 1.6rem;
  letter-spacing: -.02em;

  font-variant-numeric: tabular-nums;
  text-box-trim: trim-both;
  text-wrap: balnce;

  justify-content: flex-end;
}

.book-description{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 72px;

  text-box-trim: trim-both;
  text-wrap: balance;
}

.information-message{
  white-space: pre-line;
  text-align: left;
}

/* #endregion Typography */

/* #region Forms */

.login-card{
  border: 1px solid var(--card-boder);
  border-radius: 12px;

  background-color: var(--card-bg);
  overflow: hidden;

  max-width: 800px;
  min-width: fit-content;

  box-shadow: 0 6px 12px rgba(0, 0, 0, .20),
              0 20px 48px rgba(218, 165, 32, .28);
}

.form-control{
  background-color: #f4e4be;
  color: var(--text);
}

.form-control:hover,
.form-control:active:focus,
.form-control:active,
.form-control:focus{
  background-color: var(--body-bg);

  border-color: var(--gold);
  box-shadow: 0 0 0 .25rem rgba(218, 165, 32, .37);
  outline: 0;

  color: var(--primary);
}

/* #endregion Forms */

/* #region Inputs */

.input-validation-error{
  border-color: #dc3545;
  box-shadow: 0 0 0 .15rem rgba(220, 53, 69, .15);
}

.validation-summary-errors ul {
  margin-bottom: 0;
  padding-left: 1rem;
}

/* #endregion Inputs */